/* CSS Reset */
body,header,nav,main,footer,h1,h4,div,img,ul,figure,figcaption,section,article,aside,audio,video{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body{
    background-color: #2C3E50;
    font-family: 'Arial', sans-serif;
}

*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Style the header */
header {
    margin: 1px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #2C3E50;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5em;
    z-index: 1;
}

header h4{
    color: #22313F;
    font-size: 1.75em;
}

header img{
    margin: 0 auto;
}

/* Style the hamburger menu */
.mobile-nav a{
    color: #fff;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Style the nav element */
nav li{
    font-weight: bold;
    border-top: 1px solid #fff;
}

nav li:first-child{
    border-top: none;
}

nav li a{
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav a:hover {
    color: #1ABC9C;
}

/*Show mobile class, hide tablet-desktop class*/
.mobile{
    display: block;
}

.tablet-desktop, #menu-links{
    display: none;
}

/* Style the main element */
main {
    display: block;
    margin: 1px 0;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px #2C3E50;
    background-color: #ECF0F1;
    font-size: 16px;
    line-height: 1.6;
}

.mobile h3{
    text-shadow: 5px 5px 8px #ccc;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.round{
    width: 512px;
    height: 288px;
    object-fit: cover;
    border-radius: 8px;
}

.leader{
    font-size: 1.35em;
    color: #34495E;
    font-weight: bold;
    text-shadow: 5px 5px 8px #ccc;
}

/* Style the footer */
footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 1px;
    padding: 10px;
    background-color: #34495E;
    color: #fff;
    border-radius: 5px;
}

/* Style the container element */
.container {
    width: 80%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print{

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop{
        display: block;
    }

    .mobile, .mobile-nav{
        display: none;
    }

    /* Tablet Viewport: Style rule for header */
    header{
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav{
        padding: 1%;
        margin-bottom: 1%;
    }
    
    nav ul{
        list-style-type: none;
        text-align: center;
    }
    nav li{
        font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child{
        border-right: none;
    }

    nav li a{
        padding: 0.1em 0.75em;
    }

    /* Tablet Viewport: Style rules for main content area */
    main ul{
        margin: 0 0 4% 10%;
    }

    #about, #story, #reasons, #guarantee {
        padding: 1.5rem 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }

    aside{
        text-align: center;
        font-size: 1.25em;
        font-style: italic;
        font-weight: bold;
        padding: 2%;
        background-color: rgba(204, 204, 204, 0.5);
        box-shadow: 5px 5px 8px #000;
        text-shadow: 5px 5px 5px #b3b3b3;
        border-radius: 0 15px;
    }

    .grid-item4{
        grid-column: 1 / span 3;
    }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print{

    /* Desktop Viewport: Style rule for header */
    header{
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav{
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul{
        text-align: right;
    }

    nav li{
        border: none;
    }

    nav li a{
        padding: 0.5em 1em;
    }

    nav li a:hover{
        color: #000;
        background-color: #fff;
    }

    /* Desktop Viewport: Style Rules for main content */
    main{
        clear: left;
    }

    main h1{
        font-size: 1.8em;
    }

    article h3{
        font-size: 1.75em;
    }

    .frame {
        width: 30%;
        max-width: 300px;
    }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px){

    #container{
        width: 1920px;
        margin: 0 auto;
    }

    table{
        width: 80%;
    }

}

/* Media Query for Print */
@media print{

    body{
        background-color: #34495E;;
        color: #000;
    }

}